* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    color: white;
}

.indexNavBar {
    width: 100%;
    position: relative;
}

.indexNavBarBackground img {
    height: 100%;
    width: 100%;
}

.indexNavBarBackground {
    height: 350px;
}

.indexNavBarContent {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.indexRight {
    margin-left: auto;
}

.indexRight ul {
    line-height: 50px;
    display: flex;
}

.indexRight ul li a {
    margin-right: 30px;
    color: white;
}

.indexContent {
    display: flex;
    flex-direction: column;
}

.indexContentTop {
    /* height: 400px; */
    padding-bottom: 25px;
}

.indexA1 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #cfbc91;
}

.indexA1 h3 {
    margin-left: 10px;
}

.indexA2 {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.indexA2Left {
    flex: 1 1 500px;
    margin-left: 10px;
}

.indexA2Left img {
    max-width: 100%;
    height: auto;
}

.indexA2Right {
    /* height: 300px; */
    margin: 0 30px;
    flex: 1 1 400px;
    /* 可增长，可收缩，基础宽度400px */
    overflow-wrap: break-word;
    /* 确保文本不会溢出容器 */
    max-height: 300px;
    overflow-y: auto;
}

.indexB1 {
    line-height: 30px;
    text-indent: 2em;
    font-size: large;
}

.indexContentBottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.indexA3Top {
    height: 50px;
    background-color: #cfbc91;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.indexA3Top h3 {
    margin-left: 15px;
}

.indexA3Bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.indexB2 {
    margin-right: 20px;
    font-size: small;
    display: block;
    color: white;
}

.indexC1 {
    text-align: center;
}

.indexA4Bottom ul {
    margin-top: 10px;
}

.indexA4Bottom ul li {
    display: block;
    display: flex;
    border-bottom: 1px dashed #cfbc91;

}

.indexA4Bottom ul li a {
    /* font-size: large; */
    display: block;
    width: 500px;
    margin: 10px;
    color: black;
}

.indexA4Bottom ul li span {
    line-height: 42px;
}

.indexB4 {
    border: none;
}

footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 10px0;
    font-size: 14px;
}

footer p {
    color: gray;
    line-height: 150%;
    font-size: small;
}

* {
    box-sizing: border-box
}


.indexNavBarContent .indexRight ul li a {
    position: relative;
}

.indexNavBarContent .indexRight ul li a::after {
    content: "";
    /* 位置 相对链接本身 */
    position: absolute;
    left: 0;
    bottom: -10px;
    /* 基础样式 */
    width: 0;
    height: 3px;
    background: #CCBD96;
    /* 过渡动画 */
    transition: width 0.2s ease;
}

.indexNavBarContent .indexRight ul li a:hover::after {
    width: 100%;
    /* 鼠标悬停时展开到整个链接宽度 */
}